nav {
  background: linear-gradient(to right, #440606, #950b0b);
  padding: 10px;
}

.navbar-brand ,.nav-link ,
.navbar-nav .nav-link.active{
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}
@media (max-width: 768px) {
  .navbar-brand {
      font-size: 1.2rem;
  }
}
