.price {
  background-color: rgb(236, 125, 28);
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
}
button {
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  width: 58%;
  padding: 5px;
  background-color: antiquewhite;
}
 p {
    overflow: auto;
    height: 138px;
}
.card-title {
    overflow: auto;
  height: 150px;
  text-align: center;
}
