<div class="mt-2">
  <app-select [title]="titleForAllProduct"[Elements]="categories" (OnSelectedChange)="selectionChanged($event)"></app-select>
    <div>
        <app-spinner *ngIf="spinner"></app-spinner>
    </div>
    <div class="row row-cols-3 row-cols-md-3 g-4 " *ngIf="!spinner">
        <div class="col-md-4 col-sm-12"  *ngFor="let product of filteredProducts">
           <app-card [cardObject]="product" (onCardClick)="addClickedProduct($event)"></app-card>
        </div>
    </div>

</div>